.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 30px;
}

.morePosts {
  padding: 10px;
  min-width: 100px;
  background-color: rgb(140, 206, 206);
  border: none;
  border-radius: 5px;
}

.loader {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}
